 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ayudadog</title>

    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
    <link rel="stylesheet" href="{% static 'libs/lightbox2-master/dist/css/lightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/OwlCarousel2-2.3.4/OwlCarousel2-2.3.4/dist/assets/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'libs/OwlCarousel2-2.3.4/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css' %}">
   
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
     
    <div class="container">
            <header class="row">
            
                    <div class="col-lg-12">
                        <nav>
                            <img src=" {% static 'img/logo.png' %}" alt="Logo de mis perris">
                            <div class="links">
                                <a href="{% url 'inicio' %}">Inicio</a>
                                <a href="{% url 'quienes_somos' %}">Quienes somos</a>
                                {% comment %} <a href="{% url 'mascotas' %}">Mascotas</a>   {% endcomment %}
                                <a href="{% url 'contacto' %}">Contacto</a>    
                            </div>
                        </nav>
        {% block container %}
        {% endblock %}
    </div>
    <footer>
        <p>Desarrollo web y mobile</p>

            {{ mensaje }}

    </footer>

    <!--   Librerias  -->
    <script src="{% static 'libs/OwlCarousel2-2.3.4/OwlCarousel2-2.3.4/dist/owl.carousel.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    {% comment %} <script src="{% static 'libs/lightbox2-master/dist/js/lightbox-plus-jquery.min.js' %}"></script>  {% endcomment %}
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{% static 'js/script.js' %}"></script> 
</body>
</html>