{% extends "base.html" %}

{% block container %}
        {% load static %}

            <div class="banner">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <img src="{% static 'img/adoptados/Apolo.jpg' %}" alt="Un perro">
                        
                            <article>
                                <h3>El care perro</h3>
                                <p>"Cuando le doy una galleta me da la manito"</p>
                                <h4>- Elba Lazo</h4>
                            </article>
                        </div>
                        <div class="item">
                            <img src="{% static 'img/adoptados/Duque.jpg' %}" alt="Un perro">
                            <article>
                                <h3>Este es el perro más perro</h3>
                                <p>Desde que adopte este perro no tengo otro perro</p>
                                <h4>- Maria</h4>
                            </article>
                        </div>
                        <div class="item">
                            <img src="{% static 'img/adoptados/Tom.jpg' %}" alt="Un perro">
                            <article>
                                <h3>Guau</h3>
                                <p>Guau Guau Guau Guau Guau</p>
                                <h4>- Tom el Perro</h4>
                            </article>
                        </div>
                    
                    </div>

            </div>
        
            <div class="informacion">
                <p>+569 9 98765431</p>
                <p>Rescate y adopcion de perros</p>
                <div class="redes_sociales">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-google-plus-g"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fas fa-envelope"></i>
                </div>
            </div>
        </div>
    </header>

    <div class="row info">
        <div class="texto_derecha col-lg-6">
            <h1>RESCATE</h1>
            <h2>ETAPA UNO</h2>
            <hr>
            <p>Rescatamos perros en situación de peligro y/o abandono. Los rehabilitamos y los preparamos para buscarles un hogar.</p>
            <br>
            <img data-aos="fade-right" src="{% static 'img/rescate.jpg' %}" alt="Perro negro">
        </div>
        <div class="texto_izquierda col-lg-6">
            <img src="{% static 'img/crowfunding.jpg' %}" alt="Tazon de comida de perro" data-aos="fade-left" >
            <h1>CROWDFUNDING</h1>
            <h2>FINANCIAMIENTO</h2>
            <hr>
            <p>Sigue nuestras redes sociales para informarte acerca de las diversas campaañas y actividades que realizamos para obtener financiamiento para seguir ayudando.</p>
            <a href="campañas.html">CAMPAÑAS</a>
        </div>
    </div>
{% endblock %}